<div  class="container my-4"  >
  <div style="margin:100px 0px 300px 0px" >

<div class="container">
<h1> crear tarjetas</h1>
</div>
<form action="/dashboard" method="post" class="rounded" style=" margin-bottom: 100px;" enctype="multipart/form-data">
  <div class="form-group" > 
    <label for="POST-name">titulo:</label>
    <input id="POST-name" class="form-control" type="text" name="titulo">

    <label for="POST-category">cabecera:</label>
    <input id="POST-category" class="form-control" type="text" name="cabecera">
    
    <label for="POST-price">celular:</label>
    <input id="POST-price" class="form-control" type="text" name="celular">

    <label for="POST-imgURL">direccion:</label>
    <input id="POST-imgURL" class="form-control" type="text" name="direccion">

    <label for="POST-imgURL">correo:</label>
    <input id="POST-imgURL" class="form-control" type="text" name="correo">

    
    
    <label class="form-label" for="customFile">Tarjeta Image: </label>
    <input type="file" class="form-control" id="customFile" name="tarjetaImage" />

  </div>
    <input type="submit" class="btn btn-success" value="Save">
    <a href="/dashboard" class="btn btn-primary"> back</a>
  </form>


</div>
</div>


 



  