<h1> forgot password </h1>

<p> Escribe tu correo para enviarte una reseteo</p>

<form action="/forgotPassword" method="post" class="rounded" style=" margin-bottom: 100px;">
    <div class="form-group" > 
    <label for="POST-category">email:</label>
    <input id="POST-category" class="form-control" type="email" name="email">
    </div>

<input type="submit" class="btn btn-success" value="Send">
</form>

