<div class=" loginbox">


<div class="neomorph">

<h1 class="display-4 loginTitle">login page </h1>

<form action="/login" method="post" class="rounded" style=" margin-bottom: 100px;">
    <div class="form-group" > 

      <label for="POST-category">email:</label>
      <input id="POST-category" class="form-control" type="email" name="email">
      
      <label for="POST-price">password:</label>
      <input id="POST-price" class="form-control" type="password" name="password">  
    </div>
      <input type="submit" class="btn btn-success" value="log in">
      <p>Forgot your password?  <a href="/forgotPassword">  Click here</a></p>
     
    </form>

  </div>

</div>