

<div  class="container my-4"  >
  <div class=" loginbox" style="margin-top: 100px;">
    <div class="neomorph">

<h1 class="display-4 loginTitle">register page</h1>

<form action="/register" method="post" class="rounded" style=" margin-bottom: 100px;">
    <div class="form-group" > 
      <label for="POST-name">username:</label>
      <input id="POST-name" class="form-control" type="text" name="username">
  
      <label for="POST-category">email:</label>
      <input id="POST-category" class="form-control" type="email" name="email">
      
      <label for="POST-price">password:</label>
      <input id="POST-price" class="form-control" type="password" name="password">  
    </div>
      <input type="submit" class="btn btn-success" value="Register">
    </form>

  </div>
</div>
</div>