
<h1> Reset Password</h1>

<p> ingresa la nueva contraseña</p>
<form action="/resetPassword" method="post" class="rounded" style=" margin-bottom: 100px;">
    <div class="form-group" > 
    <label for="POST-category">password:</label>
    <input id="POST-category" class="form-control" type="password" name="newPass">

    <input hidden id="POST-category" class="form-control" type="text" name="resetToken" value="<%- resetToken.resetToken %>">
    </div>
    
<input type="submit" class="btn btn-success" value="Send">
</form>

</div>